.Upload__form {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.Upload__subtitle {
    margin-bottom: 1rem;
    color: var(--color-title);
}

.Upload__inputs {
    display: flex;
    gap: 0.7rem;
}

.Upload__submit {
    grid-column: 2;
    cursor: pointer;
}

.dropzone {
    background: white;
    color: #8b8b8b;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    padding: 1rem;
    margin-bottom: 1rem;
    min-height: 10rem;
}

.Upload__preview {
    max-width: 100%;
}
