.Upload__form {
    padding: 2.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4rem;
    row-gap: 2rem;
}

.Upload__form-block {
    max-width: 310px;
    width: 100%;
}

.Upload__subtitle {
    margin-bottom: 1rem;
}

.Upload__submit {
    margin-left: auto;
    margin-top: 2rem;
}

.Upload__error {
    color: var(--color-error);
}
