.Upload__form {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.Upload__subtitle {
    margin-bottom: 1rem;
}

.Upload__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Upload__submit {
    grid-column: 2;
    cursor: pointer;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    padding: 2rem 1rem;
    margin-bottom: 1rem;
}

.Upload__preview {
    max-width: 100%;
}
