.ColorPicker {
    width: 40px;
    height: 40px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: attr(data-color);
    border: 1px solid var(--color-border);
}

.ColorPicker > span {
    font-size: 14px;
    color: var(--color-hint-text);
    transform: rotate(-45deg);
}

.ColorPicker__popup {
    display: none;
    position: absolute;
    bottom: -100%;
    right: 0;
}

.ColorPicker__popup.open {
    display: flex;
    gap: 0.5rem;
    z-index: 100;
}

.ColorPicker__popup > div {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-border);
    border-radius: 3px;
}

.ColorPicker__eyedrop {
    background-image: url(../../assets/Eyedropper-icon.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
