*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --main-pad: 15px;
    --main-container-width: 1200px;
    --header-height: 3rem;

    --color-title: #222222;
    --color-hint-text: #8b8b8b;
    --color-border: #cccccc;
    --color-primary: rgb(0, 135, 247);
    --color-bg: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
}

.container {
    max-width: calc(var(--main-container-width) + var(--main-pad) * 2);
    width: 100%;
    padding: 0 var(--main-pad);
    margin: 0 auto;
}

.container--upload {
    max-width: 800px;
}

/* canvas {
    border: 1px solid black;
} */
