html {
    --main-pad: 15px;
    --main-container-width: 1200px;
    --header-height: 3rem;

    --color-title: #222222;
    --color-text: #707070;
    --color-hint-text: #8b8b8b;
    --color-border: #cccccc;
    --color-primary: rgb(0, 135, 247);
    --color-primary-hover: rgb(35, 152, 248);
    --color-error: tomato;
    --color-bg: #ffffff;
    --color-bg-blur: rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
}

.container {
    max-width: calc(var(--main-container-width) + var(--main-pad) * 2);
    width: 100%;
    padding: 0 var(--main-pad);
    margin: 0 auto;
}

.container--upload {
    max-width: 800px;
}

.eyedrop {
    cursor: url(./assets/Eyedropper-icon.png) 0 16, default;
}

/* canvas {
    border: 1px solid black;
} */
